* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(229, 243, 247);
    --secondary-color: rgb(3, 5, 54);
    --text-color: black;
    --heading-color: black;
    --background-color: white;
    --main-max-width: 600px;
    --primary-font: 'Roboto Slab', serif;
}

body {
     font-family: var(--primary-font);
     margin: auto;
     line-height: 1rem;
 }

h1, footer {
    max-width: var(--main-max-width);
    margin: 0 auto;
    padding: 1rem;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--heading-color);
}

h1 {
  text-align: center;
  color: var(--background-color);
  background-color: var(--secondary-color);
  padding: 2rem ;
}

/* Form container */
form {
  background-color: var(--primary-color);
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  }

fieldset {
  border: none;
  margin-bottom: 1.5rem;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  /* font-weight: bold; */
}

.bold-label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--heading-color);
  margin-bottom: 1rem;
  font-family: var(--primary-font);
}

/* Rating stars */
.rating {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

fieldset label input[type="radio"] + span,
fieldset label input[type="radio"] {
  font-size: 1.4rem;
}

/* Checkboxes */
.features-section label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 400;
}

/* Footer */
footer {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  padding: 1rem;
}

/* Submit Button */

button,
input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--background-color);
  color: var(--heading-color);
  font-weight: bold;
  border: var(--heading-color) 1px solid;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s, color 0.3s;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

/* Date input validation feedback */
input[type="date"]:required:invalid {
  border-right: 8px solid #e53935;  /* red */
}

input[type="date"]:required:valid {
  border-right: 8px solid #2ecc40;  /* green */
}
